/** TIPS:
1. The carousel shouldn't be in any other div, like for example div with class container.
2. You can align image position in classes bg1, bg2, bg3 using css background-position.
*/

/* Carousel 100% Fullscreen */
html, body {
  color: #393f42;
  height:100%;
  margin:0;
  padding:0;
  background-color: #F5F5F5;
}

.w-100 {
  height: 100vh;
}

// .container {
//   padding-top: 80px;
//   padding-bottom: 0px;
// }

.carousel .carousel-inner img {
    display:block;
    object-fit: cover;
  }

.p {
 font-size: 5px;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}


.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}


.banner {
  background-size: cover;
  width: 100%;
}

.fullscreen {
  width: 100%;
  height: calc(100vh - 70px);
}


.shad {
  width: 100%;
  box-shadow: 8px 8px 12px  #BEBEBE;
}

.logo-expert {
  width: 70%;
  height:auto;
}

/////

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 150px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}


#home {
  height: 100vh;
  display: flex;
  align-items: center;
  // justify-content: space-around;
  text-align: center;
  h1 {
    margin: 0 50px 50px 50px;
  }
  p {
    margin-top: 1.5em;
  }
}


.w-100 {
  width: 100% !important;
  height: 100vh;
}



.navbar {
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
  position: fixed;
  position: top;
  width: 100%;
  justify-content: space-between;
}


.navbar-default {

 .navbar-brand {
   margin-top: 10px;
   color: white;

   &:hover {
     color: #00597B;
     border: 1px solid #00597B;
   }
 }

 .navbar-nav {

  > li {

    > a {
      color: white;
      margin: 10px 5px 5px 5px;

    }
    > a:hover, > a:active, > a:focus {
      color: #00597B;
      border: 1px solid #00597B;
    }
    > a:visited {
      color: #00597B;
      text-decoration: none;
    }

    } //end li

    > .active {

      > a, > a:hover, > a:focus {
        background-color: transparent;
        color: #00597B;
      }

    }

  } //end .navbar-nav

  //Collapsed styles
  .navbar-toggle {
    border-color: #00597B;

    &:hover, &:focus {
      background-color: white;
    }



    .icon-bar {
      color: #00597B;
      background-color: #00597B;

    }
  }

  .navbar-collapse.collapse.in ul {
    background-color: white;
    width: 100%;

  }

} //end .navbar-default

.navbar-expand-md .navbar-nav .nav-link {
  padding-top: 11px;
}

/* Solid class attached on scroll past first section */

.logo {
  width: 100%;
}
.logo-invert {
  filter: brightness(0) invert(1);
}

.navbar.solid {
  background-color: white;
  transition: background-color 1s ease 0s;
  // box-shadow: 0 0 4px white;
  width: 100%;

  .navbar-brand {
    color: #00597B;
    transition: color 1s ease 0s;
    text-align: center;
  }

  .navbar-light .navbar-brand {
    color: white;
  }

  .navbar-nav {


    > li {


      > a.classic-link {
        color: #555!important;
        transition: color 1s ease 0s;

       } //end li

    } //end .navbar-nav

  }


  .navbar-nav {


    > li {

      > .btn-medium-white {
        color: white;
        background: #00597B;
        border: 1px solid #00597B;
        padding: 10px 20px;
        border-radius: 50px;
        text-align: center;

       } //end li
     }
    } //end .navbar-nav

  }

  .navbar.solid .navbar-nav > li > .btn-medium-white:hover {
    color: #00597B;
    background: white;
    border: 1px solid #00597B;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
  }

// .nav-right {
// margin-left: auto;
//   }

.nav-link {
  display: inline-block;
  text-align: center;

}

.nav-item {
  display: inline-block;
  text-align: center;
  padding: 10px;
}



.navbar-toggler {
  background-color: white;
  border-color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  .navbar {
    background-color: white;
  }
  .logo-invert {
    filter: none;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #555;
  }
  .navbar-nav > li > .btn-medium-white {
    color: white;
    background: #00597B;
    border: 1px solid #00597B;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .navbar {
    background-color: white;
  }
  .logo-invert {
    filter: none;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #555;
  }
  .navbar-nav > li > .btn-medium-white {
    color: white;
    background: #00597B;
    border: 1px solid #00597B;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
  }
}


.banner-values{
  padding-top: 50px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: url("../images/banner-valeurs.png")
}



.banner-contact {
  padding-top: 50px;
  background-size: cover;
  background-position: center;
  padding: 250px 0;
}

.banner h1 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.circle-icon {
  background: #00597B;
  padding:45px;
  border-radius: 50%;
}


.title-banner {
  font-size: 70px;
  text-align: left;
}


.title-banner-white {
  color: white;
  padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .title-banner {
    text-align: center;
    font-size: 50px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .title-banner {
    text-align: center;
    font-size: 50px;
  }
}

.relative42 {
  display: block;
  margin: auto;
  max-width: fit-content;
}

.top-space {
  margin-top: 40px;
}

.big-space {
  margin-top: 100px;
}

.carousel-item {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));

}



.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.row2 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;

}

/* Create four equal columns that sits next to each other */
.column2 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
}

.column2 img {
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column2 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column2 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.column3 {
  float: left;
  width: 33.33%;
  padding-top: 35px;
  padding-right: 50px;
}

/* Clearfix (clear floats) */
.row3::after {
  content: "";
  clear: both;
  display: table;
}

.row3 {
padding-top: 50px;
padding-bottom: 100px;
}

@media screen and (max-width: 500px) {
  .column3 {
    width: 100%;
    padding: 35px;

  }
}

.numbers {
  position: absolute;
  left: -5%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 150px;
  font-weight: bolder;
  color: white;
}

@media screen and (max-width: 856px) {
  .numbers {
    left: 2%;
    top: 85%;
    font-size: 90px;
  }
}

@media screen and (max-width: 375px) {
  .numbers {
    left: 2%;
    top: 85%;
    font-size: 90px;
  }
}


.camtar img {
    display:block;
    object-fit: cover;
}

  .mobileShow {display: none;}

  /* Smartphone Portrait and Landscape */
  @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
      .mobileShow {display: inline;}
  }

    .mobileHide { display: inline; }

  /* Smartphone Portrait and Landscape */
  @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
     .mobileHide { display: none;}
  }


#infos {
    padding-top: 20px;
}

.img-box {
  height: 600px;
  max-width: 100%;
}

@media screen and (max-width: 450px) {
  .img-box {
    height: 350px;
    width: 100%;
  }
}

@media (min-width:700px) and (max-width:800px) {
    .middle {
        margin-top: 50%;
    }
}

@media screen and (max-width: 450px) {
  .center-it {
    text-align: center;
    padding: 20px;
  }
}
