<footer id="footer" class="footer-1">
  <div class="main-footer text-center widgets-dark typo-light">
    <div class="container">
      <h6 class="text-left">Agence d’enquêteurs et de détectives privés en France et ailleurs.</h6>

      <div class="row">


        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="text-left widget subscribe no-box">
            <h8>AGENCE NOUVELLE AQUITAINE</h8>
            <p>72 rue des remparts
              33200 BORDEAUX
              06.78.98.00.56
              aquitaine@gie.com
            AUT-033-2112-04-23-20130323762</p>
            <h8>AGENCE NOUVELLE AQUITAINE</h8>
            <p>72 rue des remparts
              33200 BORDEAUX
              06.78.98.00.56
              aquitaine@gie.com
            AUT-033-2112-04-23-20130323762</p>
            <h8>AGENCE NOUVELLE AQUITAINE</h8>
            <p>72 rue des remparts
              33200 BORDEAUX
              06.78.98.00.56
              aquitaine@gie.com
            AUT-033-2112-04-23-20130323762</p>

          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">

        </div>

        <div class="mobileHide col-xs-12 col-sm-6 col-md-3">
        </div>
        <div class="mobileShow col-xs-12 col-sm-6 col-md-3">
          <div class="text-right widget no-box">
            <a href="https://tmsagency.myportfolio.com/" target="_blank">
              <img src="images/tmsagency.png" height="70px" alt="Logo TMS Agency">
            </a>
            <a href="https://www.mosdev.fr/" target="_blank">
              <img src="images/logoMDnoir.png" height="42px" alt="Logo MosDev">
            </a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="text-right widget no-box">
            <div class="mobileHide">
              <a href="https://www.mosdev.fr/" target="_blank">
                <img src="images/logoMDblanc.png" height="42px" style="padding-right: 8px;" alt="Logo MosDev">
              </a>
              <a href="https://www.instagram.com/tms.agency/" target="_blank">
                <img src="images/tmsagencywhite.png" height="42px" alt="Logo TMS Agency">
              </a>
            </div>

            <div class="mobileShow text-left">
              <div class="bottom">
                <p><a href="mentions-legales.html" title="" style="color: white;">MENTIONS LEGALES</p>
                  <p><a href="cgu.html" title="" style="color: white;">CGU</p>
                    <p><a href="cgv.html" title="" style="color: white;">CGV</p>
                      <p>© WWW.GIE.GROUPE.COM</p>
                    </div>
                  </div>
                  <div class="mobileHide text-right">
                    <div class="bottom">
                      <p><a href="mentions-legales.html" title="" style="color: white;">MENTIONS LEGALES</p>
                        <p><a href="cgu.html" title="" style="color: white;">CGU</p>
                          <p><a href="cgv.html" title="" style="color: white;">CGV</p>
                            <p>© WWW.GIE.GROUPE.COM 2018</p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

          </footer>
