<footer id="footer" class="footer-1">
  <div class="main-footer text-center widgets-dark typo-light">
    <div class="container">
      <h6 class="text-left">Agence d’enquêteurs et de détectives privés en France et ailleurs.</h6>
      <br>
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="text-left widget subscribe no-box">
            <h8 class="footertitle">AGENCE NOUVELLE AQUITAINE</h8>
            <p class="footersize">33 RUE MAX LINDER <br>
              33500 LIBOURNE <br>
              06 89 95 96 73 <br>
            AUT-033-2112-04-23-20130323762</p>
            

          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">

        </div>

        <div class="mobileHide col-xs-12 col-sm-6 col-md-3">
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="text-right widget no-box">
            <div class="mobileHide">
              <p>Site développé et designé par : </p>
              <a href="https://www.mosdev.fr/" target="_blank">
                <img src="../images/logoMDblanc.png" height="42px" style="padding-right: 8px;" alt="Logo MosDev">
              </a>
              <a href="https://www.instagram.com/tms.agency/" target="_blank">
                <img src="../images/tmsagencywhite.png" height="42px" alt="Logo TMS Agency">
              </a>
            </div>

            <div class="mobileShow text-left">
              <p class="footertitle"> « L’autorisation d’exercice ne confère aucune prérogative de puissance publique à l’entreprise ou aux personnes qui en bénéficient »
              (Article L612-14 du CSI).</p>
              <div class="bottom">
                <p>  <%= link_to "MENTIONS LEGALES", "mentions-legales.html", style: 'color:#FFFFFF' %>
                  <p>© AC-ARIA 2018</p>
                </div>
              </div>
              <div class="mobileShow col-xs-12 col-sm-6 col-md-3">
                <p>Site développé et designé par : </p>
                <div class="text-right widget no-box">
                  <a href="https://www.mosdev.fr/" target="_blank">
                    <img src="../images/logoMDblanc.png" height="42px" alt="Logo TMS Agency">
                  </a>
                  <a href="https://www.instagram.com/tms.agency/" target="_blank">
                    <img src="../images/tmsagencywhite.png" height="42px" alt="Logo MosDev">
                  </a>
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="mobileHide text-right">

                <p>  <%= link_to "MENTIONS LEGALES", "mentions-legales.html", style: 'color:#FFFFFF' %>
                  <p class="footertitle"> « L’autorisation d’exercice ne confère aucune prérogative de puissance publique à l’entreprise ou aux personnes qui en bénéficient »
                  (Article L612-14 du CSI).</p>
                  <p>© AC-ARIA 2018</p>

                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </footer>
