  <div class="footer">
    <div class="footer-text-left">
    <h3>Agence d’enquêteurs et de détectives privés en France et ailleurs.</h3>
    <h4>AGENCE NOUVELLE AQUITAINE</h4>
    <h3>72 rue des remparts</h3>
    <h3> 33200 BORDEAUX</h3>
    <h3>06.78.98.00.56</h3>
    <h3>aquitaine@gie.com</h3>
    <h3>AUT-033-2112-04-23-20130323762</h3>
        <h4>AGENCE NOUVELLE AQUITAINE</h4>
    <h3>72 rue des remparts</h3>
    <h3> 33200 BORDEAUX</h3>
    <h3>06.78.98.00.56</h3>
    <h3>aquitaine@gie.com</h3>
    <h3>AUT-033-2112-04-23-20130323762</h3>
        <h4>AGENCE NOUVELLE AQUITAINE</h4>
    <h3>72 rue des remparts</h3>
    <h3> 33200 BORDEAUX</h3>
    <h3>06.78.98.00.56</h3>
    <h3>aquitaine@gie.com</h3>
    <h3>AUT-033-2112-04-23-20130323762</h3>
    </div>

    <div class="footer-text-right">
MENTIONS LÉGALES
CGU
CGV

© WWW.GIE.GROUPE.COM   2018
    </div>
  </div>
