  <div class="footer">
    <div class="footer-text-left">
    <h3>Agence d’enquêteurs et de détectives privés en France et ailleurs.</h3>
    <h4>AGENCE NOUVELLE AQUITAINE</h4>
    <h3>72 rue des remparts</h3>
    <h3> 33200 BORDEAUX</h3>
    <h3>06.78.98.00.56</h3>
    <h3>aquitaine@gie.com</h3>
    <h3>AUT-033-2112-04-23-20130323762</h3>
        <h4>AGENCE NOUVELLE AQUITAINE</h4>
    <h3>72 rue des remparts</h3>
    <h3> 33200 BORDEAUX</h3>
    <h3>06.78.98.00.56</h3>
    <h3>aquitaine@gie.com</h3>
    <h3>AUT-033-2112-04-23-20130323762</h3>
        <h4>AGENCE NOUVELLE AQUITAINE</h4>
    <h3>72 rue des remparts</h3>
    <h3> 33200 BORDEAUX</h3>
    <h3>06.78.98.00.56</h3>
    <h3>aquitaine@gie.com</h3>
    <h3>AUT-033-2112-04-23-20130323762</h3>
    </div>
    <div class="footer-links">

      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
