---
title: Contact Auvergne-Rhône-Alpes
---

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="images/telephones.jpg" alt="First slide">
      <div class="carousel-caption d-md-block">
        <h1 class="title-banner"><strong>Entrez en contact, <br> nous intervenons 24/7</strong>
        </h1>
      </div>
    </div>
    <a href="#" class="scroll-down" address="true"></a>
  </div>

</div>

<div class="container ok">

  <div class="row top-space">
    <div class="col-md-6">
      <div>
        <img alt="" class="img-fluid shad" src="images/passenger.jpg"/>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
      <div>
        <p>France</p>
        <h1><strong>Pôle Auvergne-Rhône-Alpes</strong></h1>
        <br>
        <p>33 rue Max Linder <br> 33500 LIBOURNE <br> secretariat@ac-aria.fr</p>
        <div class="mobileHide"><a href="mailto:secretariat@ac-aria.fr" class="btn btn-ghost">Nous contacter</a></div>
        <div class="mobileShow"><a href="tel:0720345678" class="btn btn-ghost">Nous contacter</a></div>
      </div>
    </div>
  </div>

  <br>

  <div class="row3">
    <div class="column3">
      <img src="images/Toulouse.jpeg" alt="" class="shad" style="width:100%; height: 150px;">
      <br>
      <div class="text-center">
        <h5 class="text-center top-space"><strong>Pôle Occitanie</strong></h5>
        <a href="contact-occitanie.html" class="btn btn-ghost">Voir plus</a>
      </div>
    </div>
    <div class="column3">
      <img src="images/pont-pierre.jpeg" alt="" class="shad" style="width:100%; height: 150px;">
      <br>
      <div class="text-center">
        <h5 class="text-center top-space"><strong>Pôle Nouvelle-Aquitaine</strong></h5>
        <a href="contact-nouvelle-aquitaine.html" class="btn btn-ghost">Voir plus</a>
      </div>
    </div>
    <div class="column3">
      <img src="images/arc-triomphe.jpg" alt="" class="shad" style="width:100%; height: 150px;">
      <br>
      <div class="text-center">
        <h5 class="text-center top-space"><strong>Reste de la France</strong></h5>
        <a href="contact-autres-regions.html" class="btn btn-ghost">Voir plus</a>
      </div>
    </div>
  </div>
</div>
