---
title: Detect Project
---

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <img class="d-block w-100" src="images/lyon.jpg" alt="First slide">
      <div class="carousel-caption d-md-block">
        <h1 class="text-center title-banner">Agence d'enquêteurs et de détéctives privés</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="images/bino.jpeg" alt="Second slide">
      <div class="carousel-caption d-md-block">
        <h1 class="text-center title-banner">Agence d'enquêteurs et de détéctives privés</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="images/bino.jpeg" alt="Third slide">
      <div class="carousel-caption d-md-block">
        <h1 class="text-center title-banner">Agence d'enquêteurs et de détéctives privés</h1>
      </div>
    </div>
    <a href="#" class="scroll-down" address="true"></a>
  </div>
</div>

<div class="container">

      <div class="row top-space">
        <div class="col-md-6">
            <div id="mapsvg"></div>

        </div>
        <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
          <div>
            <p>Une agence qualifiée</p>
            <h1><strong>Une agence<br>d'experts</strong></h1>
            <p class="margin-top-s">Le <strong>Groupe d’Investigations Privées</strong>, de par son maillage géographique et la qualification de ses experts, propose ses <strong>services d’enquête privée sur un large territoire</strong> diversifié afin de <strong>servir vos intérêts dans la plus grande discrétion.</strong></p>

            <p class="margin-top-s">Le <strong>GIP dispose de trois pôles régionaux</strong> : La Nouvelle Aquitaine, l’Auvergne-Rhône-Alpes et l’Occitanie. Nos équipes n’ayant <strong>aucune limite de compétence territoriale</strong>, elles peuvent se projeter sur <strong>l’ensemble du territoire français mais également à l’étranger.</strong></p>
          </div>
        </div>
      </div>

      <!-- bloc-1 -->
      <div class="bloc bg-br-edge l-bloc" id="bloc-1">
        <div class="container bloc-xl">
          <div class="row">
            <div class="align-self-center col-md-7 col-lg-5 offset-lg--1 order-sm-1 order-1 top-space">
              <p>Présentation</p>

              <h1 class="mg-md text-md-left btn-resize-mode tc-prussian-blue text-center illustration-section-title">
                <strong>Quel est le rôle du GIE ?</strong>
              </h1>
              <p class="mg-md float-none text-center text-md-left tc-ucla-blue">
                Notre société est présente sur tout le territoire Français au travers de nos multiples agences de détectives privés. Nous avons pour mission de protéger les intérêts financiers, moraux, éthiques, de nos clients qu’ils soient particuliers ou professionnels.
              </p>
              <br>
              <div class="text-center text-lg-left text-md-left d-block">
                <a href="index.html" class="btn btn-ghost">En savoir plus</a>
              </div>
            </div>
            <div class="col-sm-8 offset-md-0 col-md-5 offset-sm-2 order-md-1 offset-lg-1 col-lg-6">

              <%= image_tag "glasscompute.jpeg", class: "img-fluid mx-auto d-block lazyload shad top-space" %>

            </div>
          </div>
        </div>
      </div>
      <!-- bloc-1 END -->

      <!-- bloc-2 -->
      <div class="bloc l-bloc" id="bloc-2">
        <div class="container bloc-xl">
          <div class="row">
            <div class="col-lg-5 col-sm-8 offset-sm-2 offset-md-0 col-md-5 offset-lg-0 top-space">
              <%= image_tag "matos.png", class: "img-fluid mx-auto d-block lazyload" %>
            </div>
            <br>
            <div class="align-self-center col-md-7 col-lg-5 offset-lg-2 top-space">
              <p>Nos préstations</p>

              <h1 class="mg-md text-md-left btn-resize-mode tc-prussian-blue text-center illustration-section-title">
                <strong>Des équipes sur le qui-vive</strong>
              </h1>
              <p class="mg-md float-none text-center text-md-left tc-ucla-blue">
                Nos équipes disposent d’une expérience approfondie des domaines de l’investigation et en maîtrisent tous les aspects (légalité, risques de la filature, etc ). La discrétion, l’ingéniositée ainsi que la protection sont la clef d’une opération réussie.
              </p>
              <br>
              <div class="text-center text-lg-left text-md-left d-block">
                <a href="index.html" class="btn btn-ghost">En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

  <div class="banner-contact" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509041322357-8a3f9757a475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3028&q=80);">
    <div class="container">
      <h1 class="text-center title-banner-white"> <strong>Besoin de nos services dans d'autres régions ?</strong></h1>
      <a href="contact.html" class="btn-medium-blue relative42">
        <i class="fas fa-map-marker-alt fa-fw"></i> Nous contacter
      </a>
    </div>
  </div>

  <!-- bloc-2 END -->

  <!-- bloc-1 -->
  <div class="bloc l-bloc banner-values" id="bloc-1">
    <h1 class="text-center">
      Nos valeurs
    </h1>
    <div class="container bloc-lg">

      <br>
      <br>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="text-center">
            <i class="fas fas-color fa-eye-slash fa-3x circle-icon"></i>
          </div>
          <br>
          <h3 class="mg-md text-center ">
            Dicrétion
          </h3>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="text-center">
            <i class="fas fas-color fa-handshake fa-3x circle-icon"></i>
          </div>
          <br>
          <h3 class="mg-md text-center">
            Respect
          </h3>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="text-center">
            <i class="fas fas-color fa-gavel fa-3x circle-icon"></i>
          </div>
          <br>
          <h3 class="mg-md text-center">
            Justice
          </h3>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="text-center">
            <i class="fas fas-color fa-shield-alt fa-3x circle-icon"></i>
          </div>
          <br>
          <h3 class="mg-md text-center">
            Protection
          </h3>
        </div>
      </div>
    </div>
  </div>
  <!-- bloc-1 END -->

</div>
<!-- Main container END -->


<script src="./js/jquery-3.3.1.min.js?541"></script>
<script src="./js/bootstrap.bundle.min.js?3474"></script>
<script src="./js/blocs.min.js?3858"></script>
<script src="./js/lazysizes.min.js" defer></script>
<!-- Additional JS END -->



<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->

